<nav th:fragment="navFragment">
  <ul>
    <!-- <li th:if="${#authentication.isAuthenticated()}"><a class="btn wow-button" href="../login">Login</a></li> -->
    <li><a class="btn wow-button" th:href="@{/index}">Login</a></li>
    <li sec:authorize="hasAnyAuthority('Admin', 'Usuario')"><a class="btn wow-button" href="../logout">LogOut</a></li>
    <li><a class="btn wow-button" href="../register">Sign Up</a></li>
    <li sec:authorize="hasAnyAuthority('Admin')"><a class="btn wow-button" href="../userPanel">Config</a></li>
  </ul>
</nav>
