<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Transmog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link th:href="@{/styles/cssandjs/CSS.css}" rel="stylesheet" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header th:insert="commons/header :: header"></header>
    <form th:action="@{/transmog/listItem}" th:object="${item}" method="post">
      <input type="text" name="searchItem" placeholder="Buscar" />
      <input
        type="submit"
        value="Buscar"
        name="register"
        class="btn wow-button"
      />
      <label for="clase" class="text_a">Pieza de equipo:</label>
      <select id="ranura" name="ranura">
        <option value=""></option>
        <option value="HEAD">Cabeza</option>
        <option value="SHOULDER">Hombros</option>
        <option value="CLOAK">Espalda</option>
        <option value="CHEST">Pecho</option>
        <option value="TABARD">Tabardo</option>
        <option value="BODY">Camisa</option>
        <option value="WRIST">Muñecas</option>
        <option value="HAND">Manos</option>
        <option value="WAIST">Cintura</option>
        <option value="LEGS">Piernas</option>
        <option value="FEET">Pies</option>
        <option value="WEAPON">Arma Principal</option>
        <option value="WEAPONOFFHAND">Arma Secundaria</option>
      </select>
    </form>

    <span th:text = "${session.transmog}" >fecha</span>

    <p
    th:if="${session.transmog.getId_head() != null}"
    th:class="${@transmogController.obtenerCalidadPorId(session.transmog.getId_head()) != null ? @transmogController.obtenerCalidadPorId(session.transmog.getId_head()) + ' my-auto' : 'my-auto'}"
  >
    <span
      th:text="${@transmogController.obtenerNombrePorId(session.transmog.getId_head())}"
      ></span
    >
  </p>

    
    <div class="gear">
      <div class="gear-left">
        <div class="item">
          <input type="text" name="searchHead" placeholder="Buscar" />
          <img
            th:src="@{../../images/items/inventoryslot_head.jpg}"
            alt="Imagen del socket cabeza"
          />
          <p class="text_a my-auto">Nombre del item</p>
        </div>
        <div class="item">
          <input
            type="text"
            name="searchNeck"
            value="Buscar"
            disabled="disabled"
          />
          <img
            th:src="@{../../images/items/inventoryslot_neck.jpg}"
            alt="Imagen del socket cuello"
          />
          <p class="text_a my-auto">Nombre del item</p>
        </div>
        <div class="item">
          <input type="text" name="searchShoulder" placeholder="Buscar" />
          <img
            th:src="@{../../images/items/inventoryslot_shoulder.jpg}"
            alt="Imagen del socket hombro"
          />
          <p class="text_a my-auto">Nombre del item</p>
        </div>
        <div class="item">
          <input type="text" name="searchShoulder" placeholder="Buscar" />
          <img
            th:src="@{../../images/items/inventoryslot_shoulder.jpg}"
            alt="Imagen del socket hombro"
          />
          <p class="text_a my-auto">Nombre del item</p>
        </div>
        <div class="item">
          <input type="text" name="searchChest" placeholder="Buscar" />
          <img
            th:src="@{../../images/items/inventoryslot_chest.jpg}"
            alt="Imagen del socket peccho"
          />
          <p class="text_a my-auto">Nombre del item</p>
        </div>
        <div class="item">
          <input type="text" name="searchTabard" placeholder="Buscar" />
          <img
            th:src="@{../../images/items/inventoryslot_tabard.jpg}"
            alt="Imagen del socket tabardo"
          />
          <p class="text_a my-auto">Nombre del item</p>
        </div>
        <div class="item">
          <input type="text" name="searchShirt" placeholder="Buscar" />
          <img
            th:src="@{../../images/items/inventoryslot_shirt.jpg}"
            alt="Imagen del socket camisa"
          />
          <p class="text_a my-auto">Nombre del item</p>
        </div>
        <div class="item">
          <input type="text" name="searchWrists" placeholder="Buscar" />
          <img
            th:src="@{../../images/items/inventoryslot_wrists.jpg}"
            alt="Imagen del socket muñecas"
          />
          <p class="text_a my-auto">Nombre del item</p>
        </div>
      </div>

      <form
        th:action="@{/transmog/createTransmog}"
        th:object="${transmog}"
        method="post"
      >
        <label for="nombre" class="text_a">Nombre</label>
        <input
          type="text"
          name="nombre"
          value=""
          th:field="${transmog.nombre}"
        /><br />
        <select id="clase" name="clase">
          <option value="">-Elige tu clase-</option>
          <option class="Guerrero" value="1">Guerrero</option>
          <option class="Paladín" value="2">Paladín</option>
          <option class="Cazador" value="3">Cazador</option>
          <option class="Pícaro" value="4">Pícaro</option>
          <option class="Sacerdote" value="5">Sacerdote</option>
          <option class="Caballero_de_la_Muerte" value="6">
            Caballero de la Muerte
          </option>
          <option class="Chamán" value="7">Chamán</option>
          <option class="Mago" value="8">Mago</option>
          <option class="Brujo" value="9">Brujo</option>
          <option class="Monje" value="10">Monje</option>
          <option class="Druida" value="11">Druida</option>
          <option class="Cazador_de_Demonios" value="12">
            Cazador de Demonios
          </option>
          <option class="Evocador" value="13">Evocador</option>
        </select>
        <input
          type="submit"
          value="Aceptar"
          name="register"
          class="btn wow-button"
        />
      </form>
      <!--
      <img
        class="character"
        id = "selectedImage"
        th:src="@{../../images/character/Garrosh.png}"
        alt="Imagen del personaje"
      />
      -->
      <div class="gear-right">
        <div class="item">
          <p class="text_a my-auto">Nombre del item</p>
          <img
            th:src="@{../../images/items/inventoryslot_hands.jpg}"
            alt="Imagen del socket manos"
          />
          <input type="text" name="searchHands" placeholder="Buscar" />
        </div>
        <div class="item">
          <p class="text_a my-auto">Nombre del item</p>
          <img
            th:src="@{../../images/items/inventoryslot_waist.jpg}"
            alt="Imagen del socket cinturon"
          />
          <input type="text" name="searchWaist" placeholder="Buscar" />
        </div>
        <div class="item">
          <p class="text_a my-auto">Nombre del item</p>
          <img
            th:src="@{../../images/items/inventoryslot_legs.jpg}"
            alt="Imagen del socket piernas"
          />
          <input type="text" name="searchLegs" placeholder="Buscar" />
        </div>
        <div class="item">
          <p class="text_a my-auto">Nombre del item</p>
          <img
            th:src="@{../../images/items/inventoryslot_feet.jpg}"
            alt="Imagen del socket pies"
          />
          <input type="text" name="searchFeet" placeholder="Buscar" />
        </div>
        <div class="item">
          <p class="text_a my-auto">Nombre del item</p>
          <img
            th:src="@{../../images/items/inventoryslot_finger.jpg}"
            alt="Imagen del socket anillo"
          />
          <input
            type="text"
            name="searchFinger"
            value="Buscar"
            disabled="disabled"
          />
        </div>
        <div class="item">
          <p class="text_a my-auto">Nombre del item</p>
          <img
            th:src="@{../../images/items/inventoryslot_finger.jpg}"
            alt="Imagen del socket anillo"
          />
          <input
            type="text"
            name="searchFinger"
            value="Buscar"
            disabled="disabled"
          />
        </div>
        <div class="item">
          <p class="text_a my-auto">Nombre del item</p>
          <img
            th:src="@{../../images/items/inventoryslot_trinket.jpg}"
            alt="Imagen del socket trinket"
          />
          <input
            type="text"
            name="searchTrinket"
            value="Buscar"
            disabled="disabled"
          />
        </div>
        <div class="item">
          <p class="text_a my-auto">Nombre del item</p>
          <img
            th:src="@{../../images/items/inventoryslot_trinket.jpg}"
            alt="Imagen del socket trinket"
          />
          <input
            type="text"
            name="searchTrinket"
            value="Buscar"
            disabled="disabled"
          />
        </div>
      </div>
    </div>

    <div class="gear-bottom">
      <div class="item" id="l">
        <p class="text_a my-auto">Nombre del item</p>
        <img
          th:src="@{../../images/items/inventoryslot_mainhand.jpg}"
          alt="Imagen del socket mainhand"
        />
      </div>
      <div class="item" id="r">
        <img
          th:src="@{../../images/items/inventoryslot_offhand.jpg}"
          alt="Imagen del socket offhand"
        />
        <p class="text_a my-auto">Nombre del item</p>
      </div>
    </div>

    <form
      th:action="@{/transmog/createTransmog}"
      th:object="${transmog}"
      method="post"
    >
      <label for="nombre" class="text_a">Nombre</label>
      <input
        type="text"
        name="nombre"
        value=""
        th:field="${transmog.nombre}"
      /><br />
      <label for="clase" class="text_a">Elige tu clase:</label>
      <select id="clase" name="clase">
        <option value=""></option>
        <option class="Guerrero" value="1">Guerrero</option>
        <option class="Paladín" value="2">Paladín</option>
        <option class="Cazador" value="3">Cazador</option>
        <option class="Pícaro" value="4">Pícaro</option>
        <option class="Sacerdote" value="5">Sacerdote</option>
        <option class="Caballero_de_la_Muerte" value="6">
          Caballero de la Muerte
        </option>
        <option class="Chamán" value="7">Chamán</option>
        <option class="Mago" value="8">Mago</option>
        <option class="Brujo" value="9">Brujo</option>
        <option class="Monje" value="10">Monje</option>
        <option class="Druida" value="11">Druida</option>
        <option class="Cazador_de_Demonios" value="12">
          Cazador de Demonios
        </option>
        <option class="Evocador" value="13">Evocador</option>
      </select>
      <input
        type="submit"
        value="Aceptar"
        name="register"
        class="btn wow-button"
      />
    </form>

    <footer th:insert="commons/footer :: footer"></footer>
  </body>
</html>
