<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Transmog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link th:href="@{/styles/cssandjs/CSS.css}" rel="stylesheet" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header th:insert="~{commons/header :: header}"></header>

    <h1 th:text="'Nombre: ' + ${t.getNombre()}" class="name">
      Nombre de la transfiguración
    </h1>

    <h1
      th:text="'Creado por: ' + ${@transmogController.obtenerUsuarioPorId(t.getId_usuario())}"
      class="name"
    >
      Nombre de la transfiguración
    </h1>

    <div class="gear">
      <div class="gear-left">
        <div class="item-show">
          <img
            th:if="${t.getId_head() != null}"
            th:src="${@transmogController.obtenerIconoPorId(t.getId_head())!= null  ? @transmogController.obtenerIconoPorId(t.getId_head()) : '../../images/items/inventoryslot_offhand.jpg'}"
            alt="Imagen del socket head"
          />
          <img
            th:unless="${t.getId_head() != null}"
            th:src="@{../../images/items/inventoryslot_head.jpg}"
          />

          <p
            th:if="${t.getId_head() != null}"
            th:class="${@transmogController.obtenerCalidadPorId(t.getId_head()) != null ? @transmogController.obtenerCalidadPorId(t.getId_head()) + ' my-auto' : 'my-auto'}"
          >
            <span
              th:text="${@transmogController.obtenerNombrePorId(t.getId_head())}"
              ></span
            >
          </p>
          <p th:unless="${t.getId_head() != null}" class="my-auto text_a empty">
            Sin objeto
          </p>
        </div>
        <div class="item-show">
          <img
            th:src="@{../../images/items/inventoryslot_neck.jpg}"
            alt="Imagen del socket cuello"
          />
          <p class="text_a my-auto empty">Item no transfigurable</p>
        </div>
        <div class="item-show">
          <img
            th:if="${t.getId_shoulder() != null}"
            th:src="${@transmogController.obtenerIconoPorId(t.getId_shoulder())!= null  ? @transmogController.obtenerIconoPorId(t.getId_shoulder()) : '../../images/items/inventoryslot_offhand.jpg'}"
            alt="Imagen del socket shoulder"
          />
          <img
            th:unless="${t.getId_shoulder() != null}"
            th:src="@{../../images/items/inventoryslot_shoulder.jpg}"
          />

          <p
            th:if="${t.getId_shoulder() != null}"
            th:class="${@transmogController.obtenerCalidadPorId(t.getId_shoulder()) != null ? @transmogController.obtenerCalidadPorId(t.getId_shoulder()) + ' my-auto' : 'my-auto'}"
          >
            <span
              th:text="${@transmogController.obtenerNombrePorId(t.getId_shoulder())}"
              ></span
            >
          </p>
          <p th:unless="${t.getId_shoulder() != null}" class="my-auto text_a empty">
            Sin objeto
          </p>
        </div>
        <div class="item-show">
          <img
            th:if="${t.getId_back() != null}"
            th:src="${@transmogController.obtenerIconoPorId(t.getId_back())!= null  ? @transmogController.obtenerIconoPorId(t.getId_back()) : '../../images/items/inventoryslot_offhand.jpg'}"
            alt="Imagen del socket chest"
          />
          <img
            th:unless="${t.getId_back() != null}"
            th:src="@{../../images/items/inventoryslot_chest.jpg}"
          />

          <p
            th:if="${t.getId_back() != null}"
            th:class="${@transmogController.obtenerCalidadPorId(t.getId_back()) != null ? @transmogController.obtenerCalidadPorId(t.getId_back()) + ' my-auto' : 'my-auto'}"
          >
            <span
              th:text="${@transmogController.obtenerNombrePorId(t.getId_back())}"
              ></span
            >
          </p>
          <p th:unless="${t.getId_back() != null}" class="my-auto text_a empty">
            Sin objeto
          </p>
        </div>
        <div class="item-show">
          <img
            th:if="${t.getId_chest() != null}"
            th:src="${@transmogController.obtenerIconoPorId(t.getId_chest())!= null  ? @transmogController.obtenerIconoPorId(t.getId_chest()) : '../../images/items/inventoryslot_offhand.jpg'}"
            alt="Imagen del socket chest"
          />
          <img
            th:unless="${t.getId_chest() != null}"
            th:src="@{../../images/items/inventoryslot_chest.jpg}"
          />

          <p
            th:if="${t.getId_chest() != null}"
            th:class="${@transmogController.obtenerCalidadPorId(t.getId_chest()) != null ? @transmogController.obtenerCalidadPorId(t.getId_chest()) + ' my-auto' : 'my-auto'}"
          >
            <span
              th:text="${@transmogController.obtenerNombrePorId(t.getId_chest())}"
              ></span
            >
          </p>
          <p th:unless="${t.getId_chest() != null}" class="my-auto text_a empty">
            Sin objeto
          </p>
        </div>
        <div class="item-show">
          <img
            th:if="${t.getId_tabard() != null}"
            th:src="${@transmogController.obtenerIconoPorId(t.getId_tabard())!= null  ? @transmogController.obtenerIconoPorId(t.getId_tabard()) : '../../images/items/inventoryslot_offhand.jpg'}"
            alt="Imagen del socket tabard"
          />
          <img
            th:unless="${t.getId_tabard() != null}"
            th:src="@{../../images/items/inventoryslot_tabard.jpg}"
          />

          <p
            th:if="${t.getId_tabard() != null}"
            th:class="${@transmogController.obtenerCalidadPorId(t.getId_tabard()) != null ? @transmogController.obtenerCalidadPorId(t.getId_tabard()) + ' my-auto' : 'my-auto'}"
          >
            <span
              th:text="${@transmogController.obtenerNombrePorId(t.getId_tabard())}"
              ></span
            >
          </p>
          <p th:unless="${t.getId_tabard() != null}" class="my-auto text_a empty">
            Sin objeto
          </p>
        </div>
        <div class="item-show">
          <img
            th:if="${t.getId_shirt() != null}"
            th:src="${@transmogController.obtenerIconoPorId(t.getId_shirt())!= null  ? @transmogController.obtenerIconoPorId(t.getId_shirt()) : '../../images/items/inventoryslot_offhand.jpg'}"
            alt="Imagen del socket shirt"
          />
          <img
            th:unless="${t.getId_shirt() != null}"
            th:src="@{../../images/items/inventoryslot_shirt.jpg}"
          />

          <p
            th:if="${t.getId_shirt() != null}"
            th:class="${@transmogController.obtenerCalidadPorId(t.getId_shirt()) != null ? @transmogController.obtenerCalidadPorId(t.getId_shirt()) + ' my-auto' : 'my-auto'}"
          >
            <span
              th:text="${@transmogController.obtenerNombrePorId(t.getId_shirt())}"
              ></span
            >
          </p>
          <p th:unless="${t.getId_shirt() != null}" class="my-auto text_a empty">
            Sin objeto
          </p>
        </div>

        <div class="item-show">
          <img
            th:if="${t.getId_wrists() != null}"
            th:src="${@transmogController.obtenerIconoPorId(t.getId_wrists())!= null  ? @transmogController.obtenerIconoPorId(t.getId_wrists()) : '../../images/items/inventoryslot_offhand.jpg'}"
            alt="Imagen del socket wrists"
          />
          <img
            th:unless="${t.getId_wrists() != null}"
            th:src="@{../../images/items/inventoryslot_wrists.jpg}"
          />

          <p
            th:if="${t.getId_wrists() != null}"
            th:class="${@transmogController.obtenerCalidadPorId(t.getId_wrists()) != null ? @transmogController.obtenerCalidadPorId(t.getId_wrists()) + ' my-auto' : 'my-auto'}"
          >
            <span
              th:text="${@transmogController.obtenerNombrePorId(t.getId_wrists())}"
              ></span
            >
          </p>
          <p th:unless="${t.getId_wrists() != null}" class="my-auto text_a empty">
            Sin objeto
          </p>
        </div>
      </div>

      <img
        class="character"
        th:src="@{'../../images/character/' + ${@transmogController.obtenerImagenPersonajePorClase(t.getClase())} + '.png'}"
        alt="Imagen del personaje"
      />

      <div class="gear-right">
        <div class="item-show">
          <p
            th:if="${t.getId_hands() != null}"
            th:class="${@transmogController.obtenerCalidadPorId(t.getId_hands()) != null ? @transmogController.obtenerCalidadPorId(t.getId_hands()) + ' my-auto' : 'my-auto'}"
          >
            <span
              th:text="${@transmogController.obtenerNombrePorId(t.getId_hands())}"
              ></span
            >
          </p>
          <p th:unless="${t.getId_hands() != null}" class="my-auto text_a empty">
            Sin objeto
          </p>
          <img
            th:if="${t.getId_hands() != null}"
            th:src="${@transmogController.obtenerIconoPorId(t.getId_hands())!= null  ? @transmogController.obtenerIconoPorId(t.getId_hands()) : '../../images/items/inventoryslot_offhand.jpg'}"
            alt="Imagen del socket hands"
          />
          <img
            th:unless="${t.getId_hands() != null}"
            th:src="@{../../images/items/inventoryslot_hands.jpg}"
          />
        </div>

        <div class="item-show">
          <p
            th:if="${t.getId_waist() != null}"
            th:class="${@transmogController.obtenerCalidadPorId(t.getId_waist()) != null ? @transmogController.obtenerCalidadPorId(t.getId_waist()) + ' my-auto' : 'my-auto'}"
          >
            <span
              th:text="${@transmogController.obtenerNombrePorId(t.getId_waist())}"
              ></span
            >
          </p>
          <p th:unless="${t.getId_waist() != null}" class="my-auto text_a empty">
            Sin objeto
          </p>
          <img
            th:if="${t.getId_waist() != null}"
            th:src="${@transmogController.obtenerIconoPorId(t.getId_waist())!= null  ? @transmogController.obtenerIconoPorId(t.getId_waist()) : '../../images/items/inventoryslot_offhand.jpg'}"
            alt="Imagen del socket waist"
          />
          <img
            th:unless="${t.getId_waist() != null}"
            th:src="@{../../images/items/inventoryslot_waist.jpg}"
          />
        </div>

        <div class="item-show">
          <p
            th:if="${t.getId_legs() != null}"
            th:class="${@transmogController.obtenerCalidadPorId(t.getId_legs()) != null ? @transmogController.obtenerCalidadPorId(t.getId_legs()) + ' my-auto' : 'my-auto'}"
          >
            <span
              th:text="${@transmogController.obtenerNombrePorId(t.getId_legs())}"
              ></span
            >
          </p>
          <p th:unless="${t.getId_legs() != null}" class="my-auto text_a empty">
            Sin objeto
          </p>
          <img
            th:if="${t.getId_legs() != null}"
            th:src="${@transmogController.obtenerIconoPorId(t.getId_legs())!= null  ? @transmogController.obtenerIconoPorId(t.getId_legs()) : '../../images/items/inventoryslot_offhand.jpg'}"
            alt="Imagen del socket legs"
          />
          <img
            th:unless="${t.getId_legs() != null}"
            th:src="@{../../images/items/inventoryslot_legs.jpg}"
          />
        </div>

        <div class="item-show">
          <p
            th:if="${t.getId_feet() != null}"
            th:class="${@transmogController.obtenerCalidadPorId(t.getId_feet()) != null ? @transmogController.obtenerCalidadPorId(t.getId_feet()) + ' my-auto' : 'my-auto'}"
          >
            <span
              th:text="${@transmogController.obtenerNombrePorId(t.getId_feet())}"
              ></span
            >
          </p>
          <p th:unless="${t.getId_feet() != null}" class="my-auto text_a empty">
            Sin objeto
          </p>
          <img
            th:if="${t.getId_feet() != null}"
            th:src="${@transmogController.obtenerIconoPorId(t.getId_feet())!= null  ? @transmogController.obtenerIconoPorId(t.getId_feet()) : '../../images/items/inventoryslot_offhand.jpg'}"
            alt="Imagen del socket feet"
          />
          <img
            th:unless="${t.getId_feet() != null}"
            th:src="@{../../images/items/inventoryslot_feet.jpg}"
          />
        </div>
        <div class="item-show">
          <p class="text_a my-auto empty">Item no transfigurable</p>
          <img
            th:src="@{../../images/items/inventoryslot_finger.jpg}"
            alt="Imagen del socket anillo"
          />
        </div>
        <div class="item-show">
          <p class="text_a my-auto empty">Item no transfigurable</p>
          <img
            th:src="@{../../images/items/inventoryslot_finger.jpg}"
            alt="Imagen del socket anillo"
          />
        </div>
        <div class="item-show">
          <p class="text_a my-auto empty">Item no transfigurable</p>
          <img
            th:src="@{../../images/items/inventoryslot_trinket.jpg}"
            alt="Imagen del socket trinket"
          />
        </div>
        <div class="item-show">
          <p class="text_a my-auto empty">Item no transfigurable</p>
          <img
            th:src="@{../../images/items/inventoryslot_trinket.jpg}"
            alt="Imagen del socket trinket"
          />
        </div>
      </div>
    </div>

    <div class="gear-bottom">
      <div class="item-show" id="l">
        <p
          th:if="${t.getId_mainhand() != null}"
          th:class="${@transmogController.obtenerCalidadPorId(t.getId_mainhand()) != null ? @transmogController.obtenerCalidadPorId(t.getId_mainhand()) + ' my-auto' : 'my-auto'}"
        >
          <span
            th:text="${@transmogController.obtenerNombrePorId(t.getId_mainhand())}"
            ></span
          >
        </p>
        <p th:unless="${t.getId_mainhand() != null}" class="my-auto text_a empty">
          Sin objeto
        </p>
        <img
          th:if="${t.getId_mainhand() != null}"
          th:src="${@transmogController.obtenerIconoPorId(t.getId_mainhand())!= null  ? @transmogController.obtenerIconoPorId(t.getId_mainhand()) : '../../images/items/inventoryslot_offhand.jpg'}"
          alt="Imagen del socket mainhand"
        />
        <img
          th:unless="${t.getId_mainhand() != null}"
          th:src="@{../../images/items/inventoryslot_mainhand.jpg}"
        />
      </div>

      <div class="item-show" id="r">
        <img
          th:if="${t.getId_offhand() != null}"
          th:src="${@transmogController.obtenerIconoPorId(t.getId_offhand())!= null  ? @transmogController.obtenerIconoPorId(t.getId_offhand()) : '../../images/items/inventoryslot_offhand.jpg'}"
          alt="Imagen del socket offhand"
        />
        <img
          th:unless="${t.getId_offhand() != null}"
          th:src="@{../../images/items/inventoryslot_offhand.jpg}"
        />
        <p
          th:if="${t.getId_offhand() != null}"
          th:class="${@transmogController.obtenerCalidadPorId(t.getId_offhand()) != null ? @transmogController.obtenerCalidadPorId(t.getId_offhand()) + ' my-auto' : 'my-auto'}"
        >
          <span
            th:text="${@transmogController.obtenerNombrePorId(t.getId_offhand())}"
            ></span
          >
        </p>
        <p th:unless="${t.getId_offhand() != null}" class="my-auto text_a empty">
          Sin objeto
        </p>
      </div>
    </div>

    <footer th:insert="~{commons/footer :: footer}"></footer>
  </body>
</html>
