@font-face {
    font-family: 'Friz Quadrata Std Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Italic'), url('Fonts/friz-quadrata-std-italic-587033b2c95df.woff') format('woff');
}


@font-face {
    font-family: 'Friz Quadrata Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Medium'), url('Fonts/friz-quadrata-std-medium-5870338ec7ef8.woff') format('woff');
}


@font-face {
    font-family: 'Friz Quadrata Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Bold'), url('Fonts/friz-quadrata-std-bold-587034a220f9f.woff') format('woff');
}


@font-face {
    font-family: 'Friz Quadrata Std Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Bold Italic'), url('Fonts/friz-quadrata-std-bold-italic-587033d6d4298.woff') format('woff');
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}

body {
    background-image: url('../../images/bg/leather.jpg');
    height: auto;
}

h1 {
    font-family: Friz Quadrata Std Medium;
    color: red;
}

.text_a {
    font-family: Friz Quadrata Std Medium;
    text-decoration: none;
    color: red;
}

.text_footer {
    font-family: Friz Quadrata Std Medium;
    text-decoration: none;
    color: beige;
}


/*Transmog*/
.name {
    text-align: center;
    margin-bottom: 2em;
}

input {
    font-family: Friz Quadrata Std Medium;
}

.table {
    font-family: Friz Quadrata Std Medium;
}


.gear {
    display: grid;
    grid-template-columns: 37.5% 25% 37.5%;

}

.gear img{
    margin-left: auto;
    margin-right: auto;
}


.item {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    padding: 0.5em;
    column-gap: 0.5em;
    align-items: center;
}

.item img {
    width: 3.5em;
}

.item input {
    height: 50%;
}


.gear-left p {
    text-align: left;
}


.gear-right p {
    text-align: right;
}

.character {
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.gear-bottom {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 70em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    

}

.gear-bottom .item {
    display: grid;
    padding: 1%;
    column-gap: 1%;
}

#r{ 
    grid-template-columns: 15% 85%;
}

#l{ 
    grid-template-columns: 85% 15%;
}

.gear-bottom img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#r p{
    text-align: left;
}

#l p{
    text-align: right;
}

#Placas{
    color:blueviolet;
}
#Tela{
    color:yellow;
}