/**FONTS FRIZ QUADRATA*/
@font-face {
    font-family: 'Friz Quadrata Std Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Italic'), url('Fonts/friz-quadrata-std-italic-587033b2c95df.woff') format('woff');
}


@font-face {
    font-family: 'Friz Quadrata Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Medium'), url('Fonts/friz-quadrata-std-medium-5870338ec7ef8.woff') format('woff');
}


@font-face {
    font-family: 'Friz Quadrata Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Bold'), url('Fonts/friz-quadrata-std-bold-587034a220f9f.woff') format('woff');
}


@font-face {
    font-family: 'Friz Quadrata Std Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Bold Italic'), url('Fonts/friz-quadrata-std-bold-italic-587033d6d4298.woff') format('woff');
}

/*TEMPLATES*/


nav{
position: absolute;
    right: 10px;
    top: 10px;
}

nav > ul {
    display: flex;
    list-style: none;
}


nav > ul > li > a {
    flex-direction: row;
    align-items: center;
    margin-left: 1em;

}



header{
    text-align: center;
}
header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}

.text_footer{
    text-align: center;
}

body {
    background-image: url('../../images/bg/leather.jpg');
    height: auto;
}

.wow-button {
    display: inline-block;
    background-color: #C41E3A;
    color: #fff;
    font-weight: bold;
    font-family: Friz Quadrata Std Medium;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.wow-button:hover {
    background-color: #9C162E; /* Slightly darker red on hover */
    transform: scale(1.05);
}

/*ITEM COLOR*/
.LEGENDARY {
    color: #FF8000 !important;
}

.EPIC {
    color: #C600FF !important;
}

.RARE {
    color: #0081FF !important;
}

.UNCOMMON {
    color: #1EFF00 !important;
}

.COMMON {
    color: #FFFFFF !important;
}

.HEIRLOOM {
    color: #00CCFF !important;
}

.NON-EQUIP {
    color: #888888 !important;
}

/*CLASS COLOR*/

.Caballero_de_la_Muerte {
    color: #C41F3B !important;
}

.Cazador_de_Demonios {
    color: #A330C9 !important;
}

.Druida {
    color: #FF7D0A !important;
}

.Evocador {
    color: #33937F !important;
}

.Cazador {
    color: #ABD473 !important;  
}

.Mago {
    color: #69CCF0 !important;
}

.Monje {
    color: #00FF96 !important;
}

.Paladín {
    color: #F58CBA !important;
}

.Sacerdote {
    color: #FFFFFF !important;
}

.Pícaro {
    color: #FFF569 !important;
}

.Chamán {
    color: #0070DE !important;
}

.Brujo {
    color: #9482C9 !important;
}

.Guerrero {
    color: #C79C6E !important;
}


h1 {
    font-family: Friz Quadrata Std Medium;
    color: red;
}

.text_a {
    font-family: Friz Quadrata Std Medium;
    text-decoration: none;
    color: red;
}

.text_footer {
    font-family: Friz Quadrata Std Medium;
    text-decoration: none;
    color: beige;
}


/*Transmog*/
.name {
    text-align: center;
    margin-bottom: 2em;
}

input {
    font-family: Friz Quadrata Std Medium;
}

.search{
    width: 40%;
}

.table {
    font-family: Friz Quadrata Std Medium;
    vertical-align: middle;
}

.gear {
    display: grid;
    grid-template-columns: 37.5% 25% 37.5%;

}

.gear img {
    margin-left: auto;
    margin-right: auto;
}


.item {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    padding: 0.5em;
    align-items: center;
}

.item-show p{
    font-family: Friz Quadrata Std Medium;
    text-decoration: none;
    padding: 0.5em;
}


.item img {
    width: 3.5em;
}

.item-show img {
    width: 3.5em;
}


.item input {
    height: 50%;
    width: 15em;
}

/*TOCAR ESTO PARA PONER LA BARRA JUNTO LA IMAGEN*/
.gear-left .item input{
    left: auto;
}


.gear-left p {
    text-align: left;
}


.gear-right p {
    text-align: right;
}

.gear-left .item-show {
    display: grid;
    grid-template-columns: min-content auto ;
    padding: 0.5em;
    column-gap: 0.5em;
    align-items: center;
    margin-left: 18.5em;
}

.gear-right .item-show {
    display: grid;
    grid-template-columns: auto min-content ;
    padding: 0.5em;
    column-gap: 0.5em;
    align-items: center;
    margin-right: 18.5em;
}

.character {
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.gear-bottom {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 70em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;


}

.gear-bottom .item-show {
    display: grid;
    padding: 1%;
    column-gap: 1%;
}

#r {
    grid-template-columns: 15% 85%;
}

#l {
    grid-template-columns: 85% 15%;
}

.gear-bottom img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#r p {
    text-align: left;
}

#l p {
    text-align: right;
}

.empty{
    color: rgb(150, 148, 148);
}



