<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>World of Warmogs - Dress Rooms</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <link th:href="@{/styles/cssandjs/CSS.css}" rel="stylesheet" />
  </head>

  <body>
    <header th:insert="~{commons/header :: header}"></header>

    <form th:action="@{/listado}" method="get">
      <input
        type="text"
        name="nombre"
        placeholder="Busca tu transfiguración"
        class="search"
      />
      <input
        type="submit"
        value="Buscar"
        name="buscar"
        class="btn wow-button"
      />
    </form>

    <table class="table table-dark table-striped table-hover">
      <tr>
        <th>Boton</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Clase</th>
        <th>Creado</th>
      </tr>

      <tr th:each="nuevo : ${nuevos}">
        <td>
          <a
            th:href="@{transmog/showTransmog/{id} (id=${nuevo.id})}"
            class="btn wow-button"
            >View</a
          >
        </td>
        <td th:text="${nuevo.id}"></td>
        <td th:text="${nuevo.nombre}"></td>
        <td
          th:class="${nuevo.clase.nombre}"
          th:text="${@mainController.eliminarGuiones(nuevo.clase.nombre)}"
        ></td>
        <td th:text="${nuevo.fecha}"></td>
      </tr>
    </table>
    <footer th:insert="~{commons/footer :: footer}"></footer>
  </body>
</html>
