<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Table</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link th:href="@{/styles/cssandjs/CSS.css}" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</head>

<body>
  <h1 th:text="'Nombre pieza: ' + ${nombre}">Hola</h1>
  <h1 th:text="'Id pieza: ' + ${id}">Hola</h1>
  <h1>listado de piezas</h1>
  <table class="table table-dark table-striped table-hover">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Ranura</th>
    </tr>
    <tr th:each="conjunto : ${conjuntos}">
      <td th:text="${conjunto.id}"></td>
      <td th:text="${conjunto.nombre}"></td>
      <td th:text="${conjunto.ranura}"></td>
    </tr>

  </table>

</body>

</html>