
    <table class="table table-dark table-striped table-hover" th:fragment="tabla">
      <tr>
        <th>Boton</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Clase</th>
        <th>Creado</th>
      </tr>

      <tr th:each="nuevo : ${nuevos}">
        <td>
          <a
            th:href="@{transmog/showTransmog/{id} (id=${nuevo.id})}"
            class="btn wow-button"
            >View</a
          >
        </td>
        <td th:text="${nuevo.id}"></td>
        <td th:text="${nuevo.nombre}"></td>
        <td
          th:class="${nuevo.clase.nombre}"
          th:text="${@mainController.eliminarGuiones(nuevo.clase.nombre)}"
        ></td>
        <td th:text="${nuevo.fecha}"></td>
      </tr>
    </table>
